version: "3"

services:

  runtime-setup:
    image: swift-nio-ssl:22.04-5.7
    build:
      args:
        ubuntu_version: "jammy"
        swift_version: "5.7"

  unit-tests:
    image: swift-nio-ssl:22.04-5.7

  integration-tests:
    image: swift-nio-ssl:22.04-5.7

  documentation-check:
    image: swift-nio-ssl:22.04-5.7

  test:
    image: swift-nio-ssl:22.04-5.7
    environment:
      - MAX_ALLOCS_ALLOWED_simple_handshake=743000
      - MAX_ALLOCS_ALLOWED_many_writes=201000

  performance-test:
    image: swift-nio-ssl:22.04-5.7

  shell:
    image: swift-nio-ssl:22.04-5.7
