version: "3"

services:

  runtime-setup:
    image: swift-nio-ssl:20.04-5.6
    build:
      args:
        ubuntu_version: "focal"
        swift_version: "5.6"

  unit-tests:
    image: swift-nio-ssl:20.04-5.6

  integration-tests:
    image: swift-nio-ssl:20.04-5.6

  documentation-check:
    image: swift-nio-ssl:20.04-5.6

  test:
    image: swift-nio-ssl:20.04-5.6
    environment:
      - MAX_ALLOCS_ALLOWED_simple_handshake=743000
      - MAX_ALLOCS_ALLOWED_many_writes=201000

  performance-test:
    image: swift-nio-ssl:20.04-5.6

  shell:
    image: swift-nio-ssl:20.04-5.6
